<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bicycle</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>servlet.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginsession</display-name>
    <servlet-name>loginsession</servlet-name>
    <servlet-class>servlet.loginsession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginsession</servlet-name>
    <url-pattern>/loginsession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyInformation</display-name>
    <servlet-name>MyInformation</servlet-name>
    <servlet-class>servlet.MyInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyInformation</servlet-name>
    <url-pattern>/Myinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeafletServlet</display-name>
    <servlet-name>LeafletServlet</servlet-name>
    <servlet-class>servlet.LeafletServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeafletServlet</servlet-name>
    <url-pattern>/Leaflet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeInformation</display-name>
    <servlet-name>ChangeInformation</servlet-name>
    <servlet-class>servlet.ChangeInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeInformation</servlet-name>
    <url-pattern>/ChangeInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInfo</display-name>
    <servlet-name>UpdateInfo</servlet-name>
    <servlet-class>servlet.UpdateInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInfo</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PredictServlet</display-name>
    <servlet-name>PredictServlet</servlet-name>
    <servlet-class>servlet.PredictServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PredictServlet</servlet-name>
    <url-pattern>/Predict</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WordcloudServlet</display-name>
    <servlet-name>WordcloudServlet</servlet-name>
    <servlet-class>servlet.WordcloudServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WordcloudServlet</servlet-name>
    <url-pattern>/Wordcloud</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardServlet</display-name>
    <servlet-name>BoardServlet</servlet-name>
    <servlet-class>servlet.BoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardServlet</servlet-name>
    <url-pattern>/Board</url-pattern>
  </servlet-mapping>
</web-app>